@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap');

.noto-sans-thai-looped-extralight {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 200;
    font-style: normal;

}

.ibm-plex-sans-thai-looped-thin {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.noto-sans-thai-looped-extralight {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 200;
    font-style: normal;
  
}
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    font-style: normal;
}



body {
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);

}


.logo {
    font-size: 3em;
    font-weight: bold;
    color: #030303;
    user-select: none;
    font-family: "Concert One", sans-serif;
}

.navigation {
    font-size: 1.5em;
    display: flex;
    gap: 15px; 
}

.navigation a {
    text-decoration: none !important; 
    color: #333; 
    padding: 5px;
    transition: color 0.3s ease;
}

.text-paralax {
    position: absolute;
    font-size: 5em;
    color: #000000; /* Change text color to black for better readability */
    text-shadow: 2px 4px 5px #e3e3e3;
    animation: zoomIn 10s ease-out;
    background: none; /* Remove any background */
    font-family: "Concert One", sans-serif;
}

.navigation a:hover,
.navigation a.active {
    color: #ff11b0;
}

.paralax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/project_kuygai/แหมว2/IMG_1055.PNG') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 15px;
    
}

.paralax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    border-radius: 15px; /* ปรับตามต้องการ */
}

.paralax img#gate-left {
    position: fixed;
    transform: translate(-282px);
}

.paralax img#gate-right {
    position: fixed;
    transform: translate(305px);
    margin-bottom: 100px;
}




.pop {
    position: relative;
    margin: 10px;
    border-radius: 6px;
    background: url('/project_kuygai/แหมว2/IMG_1078.PNG');
    width: auto;
    height: 90vh;
    justify-content: center;
    align-items: center;
    height: 150vh;
    text-align: center;
    
    
}


.pop-header {
    font-size: 5em;
    margin: 15px;
    font-family: "Concert One", sans-serif;
    
}


.pop-descript {
    font-size: 4.6em;
    font-family: "Concert One", sans-serif;
}
    
.pop img {
    display: flex;
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    position: absolute;

}



.mami .head {
    font-size: 11em; /* Adjust as needed */
    padding: 1px;
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: calc(50vh - 100px);
    text-shadow: 7px 7px 0px #d2d2d22e;
    height: auto;
    font-family: "Concert One", sans-serif;
    width: 100vh; /* This makes the width of the element 100% of the viewport height */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%23f5576c' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%23f093fb' flood-opacity='1' x='150px' y='150px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%23fee140' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
    text-align: center;
    justify-content: center;
    margin-top: 0.2em;
    
}


.mami .p1 {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%23f5576c' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%23f093fb' flood-opacity='1' x='150px' y='150px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%23fee140' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
    background-clip: text;
    font-family: "Concert One", sans-serif;
    font-size: 8em;
    -webkit-background-clip: text;
    color: transparent;
    
    text-shadow: 7px 7px 0px #d2d2d22e;
    height: auto;
    width: 100vh;
    
    text-align: center;
   
}

.mami .aligo1 {
    color: rgb(231, 107, 173);
    font-family: "Concert One", sans-serif;
    font-size: 4em;
    height: auto;
    width: 100vh;
  
    text-align: center;
   
}

.mami .fg1 {
    color: rgb(231, 107, 173);   
    font-family: "Concert One", sans-serif;
    margin: 1em;
    font-size: 2em;
    height: auto;
    width: 150vh;
    
    text-align: center;
   
}
.mami .km {
    color: rgb(255, 255, 255);   
    font-family: "Concert One", sans-serif;
    box-sizing: border-box;
    font-size: 2em;
    outline: #ffffff solid 2px;
    border-radius: 10px;
    height: auto;
    width: 30vh;
    text-decoration: none;
    text-align: center;
    background-color: rgb(231, 107, 173);
   
}



.mami {
    background: url('/project_kuygai/แหมว2/IMG_1112.PNG') center center / cover no-repeat;
    margin: 1px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 100vh;

    
}
.sec .styled-div {
    
    width: 900px;
    height: auto;
    margin-top: 320px;
    text-align: center;
    font-size: 5em;
    font-family: "Noto Sans Thai Looped", sans-serif;
    color: #6c8efd;
   
    
    transition: transform 0.3s, background-color 0.3s;
  }



.sec {
    background: url('/project_kuygai/แหมว2/IMG_1070.PNG') center center / cover no-repeat;

    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 100vh;
    overflow: hidden;
    
}

input[type="text"] {
    width: 500px;
    height: 60px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 8px;
    border: 1px solid #fdfdfd;
    font-family: "Noto Sans Thai Looped", sans-serif;
    border-radius: 40px;
    font-size: 20px;
    text-align: center;

}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#emotion_submit {
    padding: 12px 30px;
    background: url('/project_kuygai/แหมว2/IMG_1052.PNG') 0 0 / contain no-repeat;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

#emotion_inputSpeak {
    padding: 12px 30px;
    background: url('/project_kuygai/แหมว2/IMG_1031.PNG') 0 0 / contain no-repeat;
    color: rgb(50, 3, 3);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 60px;
    margin-top: 25px;
}

#emotion_submit:hover,
#emotion_inputSpeak:hover {
    background-size: contain;
}

h2 {
    margin-top: 20px;
}

h3 {
    margin-top: 10px;
    text-align: center;
}

button {
    padding: 8px 12px;
    background: url('/project_kuygai/แหมว2/IMG_1031.PNG') 0 0 / contain no-repeat;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    
}

button:hover {
    background-size: 120%;
}

h2 {
    margin-top: -100px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 40px;
    padding: 20px;
    margin-top: 0;
    justify-content: space-between;
}

#emotion_outputEmoji {
    margin-top: -1px;
    font-size: 40px;
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    font-family: "Noto Sans Thai Looped", sans-serif;
    
}

#emotion_outputText {
    font-size: 20px;
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    border-radius: 40px;
    margin: 15px;
    padding: 20px;
    font-family: "Noto Sans Thai Looped", sans-serif;
}

.chibuya  {
    background: url('IMG_1096.PNG') center center / cover no-repeat;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    height: 100vh;
    overflow: hidden;
    
}